{% extends 'base.html.twig' %}

{% block body %}



<div class="container-fluid">

    <header id="header_home">

        <h1> {{ title }} </h1>


    </header>



{% for article in articles %}

    <article style="margin-bottom: 5%">

        <h2> {{ article.title }}</h2>

            <div class="article"> {{ article.content }} </div>

            <div class="article_date"> {{ article.date|date('d/m/y') }} à {{ article.date|date('h:i') }}</div>


            {% if app.user %}

            <a href="{{ path('show',{'id':article.id}) }}"> voir les commentaires </a>


            {%  else  %}

            <p> veuillez vous connecter pour voir les commentaires </p>

            {% endif %}

            </article>

{% endfor %}

</div>

{%  endblock %}