<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Boom{% endblock %}</title>
        {% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">{% endblock %}
    </head>
    <body>
    <header>

        <div id="hamburger-menu">

                            <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>


                        {% if is_granted('ROLE_ADMIN') %}


                            <a class="nav-link" href="{{ path('create') }}">Create <span class="sr-only">(current)</span></a>

                            <a class="nav-link" href="{{ path('user_index') }}">All users <span class="sr-only">(current)</span></a>

                            <a class="nav-link" href="{{ path('comments_index') }}">All comments <span class="sr-only"> (current) </span> </a>

                            <a class="nav-link" href="{{ path('article_index') }}">All articles <span class="sr-only">(current)</span></a>

                        {% endif %}

                        {% if not app.user %}

                                <a class="nav-link" href="{{ path('inscription') }}"> Registration <span class="sr-only">(current)</span></a>

                                <a class="nav-link" href="{{ path('login') }}"> Login <span class="sr-only">(current)</span></a>


                        {% else %}

                                <a class="nav-link" href="{{ path('logout') }}"> Logout <span class="sr-only">(current)</span></a>


                        {% endif %}

                    </ul>

                </div>
            </nav>

        </div>

    </header>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>





