<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Boom{% endblock %}</title>
        {% block stylesheets %} <link rel="stylesheet" href="{{ asset('css/style.css') }}">{% endblock %}
    </head>
    <body>
    <header>
        <div id="nav">

            <a href="{{ path('home') }}"> home </a>

            {% if is_granted('ROLE_ADMIN') %}

            <a href="{{ path('create') }}"> create</a>

            {% endif %}


            <a href="{{ path('inscription') }}"> inscription</a>

            {% if not app.user %}
            <a href="{{ path('login') }}"> connexion </a>
            {% else %}
            <a href="{{ path('logout') }}"> déconnexion </a>
            {% endif %}

        </div>
    </header>

        {% block body %}



        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>


